.header {
  width: 100vw;
  width: 320px;
  height: 56px;
  padding: 0 20px;
  background-color: #fff;

  // &Container {
  //   @include flex(space-between, center);
  //   height: 100%;
  // }

  // @include tablet {
  //   width: 768px;
  //   padding: 0 26px;
  // }

  // @include desktop {
  //   width: 1280px;
  //   padding: 0 44px 0 26px;
  // }
}

.logoLink,
.logoImg {
  margin: 0;
  height: 33px;
  align-self: center;
  cursor: pointer;
}

.userInfo {
  margin: 0;
  flex-flow: row;
  align-self: center;

  // @include flex(space-between, center);

  // @include tablet {
  //   width: fit-content;
  // }
}
