.Card__item {
  box-shadow: 0 15px 15px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 250px;
  height: 400px;
  margin-top: 20px;

  border-radius: 20px;
  overflow: hidden;
  position: relative;
  &__nickname {
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
  }
  &__photo {
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 300px;

    &:hover::before {
      content: 'Read more';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      font-size: 30px;
      color: white;
      white-space: nowrap;
    }
  }

  &__wrap {
    height: 60px;
    display: flex;
    gap: 30px;
  }

  &__img {
    cursor: pointer;
    border-radius: 20px 20px 0px 0px;
    transition: 1s;
    display: block;
  }

  &__del__btn,
  &__edit__btn {
    outline: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
    margin-bottom: 20px;

    &:hover {
      background-color: transparent;
      color: red;
      border: 2px solid red;
    }
  }
}
