.logoutBtn {
  // position: fixed;
  // right: 20px;
  // top: 7px;
  background: transparent;
  border: none;
}

.logoutSvg {
  fill: turquoise;
  width: 40px;
  height: 42px;
  border-radius: 30%;
  // transform: rotate(180deg);
}

.logoutSvg:hover {
  cursor: pointer;
}

.logoutText {
  display: none;
  font-size: 12px;
  color: black;
}
