.title {
  color: rgba(77, 60, 60, 0.384);
  font-size: 40px;
  text-align: center;
}
.text {
  color: rgba(77, 60, 60, 0.384);
  font-size: 25px;
  text-align: center;
}
.container {
 margin-top: 150px;
}
